.accordion-button {
  border: 0;
  border-bottom: 1px solid var(--gray-900);
  padding: 0;
  background: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.accordion-button svg {
  transition: rotate 1s;
}

.accordion-button.open svg {
  rotate: 1turn;
  transition: rotate 1s;
}

.accordion-panel {
  height: auto;
  transition: height 500ms;
}

.accordion-panel.closed {
  height: 0px;
  transition: height 500ms;
  overflow: hidden;
}
