/*
  Mobile
*/

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputter,
.outputter {
  padding: 1rem;
  border: 1px solid var(--gray-900);
  background: var(--gray-200);
}

.inputter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.outputter h2 {
  margin-bottom: 2rem;
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  main {
    display: grid;
    grid-template-columns: 420px 1fr;
  }
}
