form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form label span {
  font-weight: bold;
}

form .button-group {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

form button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}
