form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form label span {
  font-weight: bold;
}

form .buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

form button {
  cursor: pointer;
}
