form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form label span {
  font-weight: bold;
}

form input.invalid {
  border-color: var(--red-600);
}

form .error {
  font-weight: normal;
  color: var(--red-600);
}

form .button-group {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

form button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  line-height: 1.2;
}

form button:disabled {
  cursor: not-allowed;
}

/*
  ExperienceForm and EducationForm
*/

.experience-item,
.education-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--gray-900);
  padding: 1rem;
}

.experience-item label.present,
.education-item label.present {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

textarea {
  resize: none;
}
