.outputter .cv {
  padding: 1rem;
  border: 1px solid var(--gray-900);
  background: var(--white);
}

.outputter h3 {
  font-size: 2rem;
  text-align: center;
}

.outputter h4 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

/*
  ContactForm
*/

.outputter .contact {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.outputter .contact li {
  display: flex;
  gap: 0.5rem;
}

/*
  ExperienceForm and EducationForm
*/

.outputter .experience,
.outputter .education {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.outputter .exp .exp-top,
.outputter .edu {
  list-style: none;
  padding-left: 0;
}

.outputter .has-comma::after {
  content: ',\00a0';
}

.outputter .has-dash::after,
.outputter .has-dash::after {
  content: '\00a0—\00a0';
}

.outputter .has-hyphen::after {
  content: '\00a0-\00a0';
}

.outputter .exp .exp-top {
  display: flex;
  font-weight: bold;
}

.outputter .exp .exp-bottom {
  padding-left: 20px;
}

.outputter .edu li:first-child {
  font-weight: bold;
}
