.outputter .cv {
  padding: 1rem;
  border: 1px solid var(--gray-900);
  background: var(--white);
}

.outputter h3 {
  font-size: 2rem;
  text-align: center;
}

.outputter .contact {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.outputter .contact span {
  font-weight: bold;
}
