.outputter .cv {
  padding: 1rem;
  border: 1px solid var(--gray-900);
  background: var(--white);
}

.outputter h3 {
  font-size: 2rem;
  text-align: center;
}

.outputter h4 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.outputter .contact {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.outputter .contact span {
  font-weight: bold;
}

.outputter .experience {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.outputter .exp {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.outputter .exp .job-title,
.outputter .exp .company-name,
.outputter .exp .start-date,
.outputter .exp .end-date {
  font-weight: bold;
}

.outputter .exp .has-comma::after {
  content: ',\00a0';
}

.outputter .exp .has-dash::after {
  content: '\00a0—\00a0';
}

.outputter .exp .has-hyphen::after {
  content: '\00a0-\00a0';
}
